@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

/* root for color preset */
:root {
  --PrimaryTextColor: #232e35;
  --SecondaryTextColor: #656d72;

  --bordercolor: #f1f1f1;
  --linecolor: #d9d9d9;

  --primarybgcolor: #fff;
  --secbgcolor: #fbfbfb;
  --thirdbgcolor: #f5f3fe;

  --primiconcolor: #7e74f1;
  --primiconcolorhov: #5d51e8;

  --sectionpadding: 6rem 0;

  --itemborderradius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "League+Spartan", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--PrimaryTextColor);
}

p {
  font-size: 1rem; /* 1rem = 16px */
  line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
  color: var(--SecondaryTextColor);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* buttons */
.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--bordercolor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0, 04) 0px 3px 5px;
}

.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}
.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--SecondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 3px;
  background: var(--linecolor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/*layout*/
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/*logo and nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 650;
  font-size: 1.6rem;
}

.logo a {
  color: var(--PrimaryTextColor);
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--PrimaryTextColor);
}

/*burger*/
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/*hero sect*/

#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: var(--primiconcolor) !important;
}

.hero-right img {
  width: 90%;
}

.hero-right {
  display: flex;
  justify-content: center;
}

/* service */
#services {
  background-color: var(--secbgcolor);
  padding: var(--sectionpadding);
}

.services .pre-title {
  margin: 0 auto;
}

.service-title {
  text-align: center;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primarybgcolor);
  border-radius: var(--itemborderradius);
}

.service h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}

.service-icon {
  background: var(--thirdbgcolor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg {
  fill: var(--primiconcolor);
}

/* portfolio sect */
#portfolios {
  padding: var(--sectionpadding);
}

.portfolio {
  border-radius: var(--itemborderradius);
  overflow: hidden;
  border: 1px solid var(--bordercolor);
}

.portfolio-cover {
  height: 250px;
}

.portfolio-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  padding: 2rem 1.5rem;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.portfolio-title a svg:hover {
  fill: var(--primiconcolorhov);
}

.portfolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--bordercolor);
  border-radius: var(--itemborderradius);
  padding: 0.4rem 1rem;
  color: var(--SecondaryTextColor);
}

/* skill edu */
#skills {
  padding: var(--sectionpadding);
  background: var(--secbgcolor);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 2rem;
}

.education .line {
  padding: 0 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background: var(--bordercolor);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-year {
  margin-bottom: 3rem;
}

/* dot on the line */
.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--bordercolor);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-list ul {
  line-height: 2rem;
  padding: 0 1rem;
}
/* contact */
#contact {
  padding: var(--sectionpadding);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "League+Spartan", sans-serif;
  background: var(--secbgcolor);
  border: 1px solid var(--bordercolor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primiconcolor);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background: var(--primiconcolorhov);
}

.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.contact-item-icon {
  background: var(--thirdbgcolor);
  height: 53px;
  width: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item-icon svg {
  fill: var(--primiconcolor);
}

.contact-item-details h4 {
  margin-bottom: 0.6rem;
}

/* footer */
footer {
  padding: 4rem 0;
  background: var(--secbgcolor);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: var(--primiconcolor);
  transition: 0.2s ease-in-out;
}

.footer-icons svg:hover {
  fill: var(--primiconcolorhov);
}
